article {
	float: left;
	width: 60%;
	margin-bottom: 32px;
}

.article_wrap {
	padding-left: 40px;
}

.article_wrap h2 {
	font-size: 30px;
	margin-bottom: 80px;
	margin-left: 20px;
}

.article_wrap p {
	font-size: 15px;
	text-indent: 2em;
}

.article_wrap br {
	height: 30px;
}

.illustration {
	width: 80%;
}

.footer_wrap {
	padding-bottom: 3em;
}

footer {
	margin-right: 25%;
	margin-left: 25%;
}