article {
	float: left;
	width: 60%;
	margin-bottom: 32px;
}

.article_wrap {
	padding-left: 40px;
}

.article_wrap h2 {
	font-size: 30px;
}

.article_wrap p {
	font-size: 16px;
	text-indent: 2em;
}

.illustration {
	/*width: 60%;*/
}

.footer_wrap {
	padding-bottom: 3em;
}

footer {
	margin-right: 25%;
	margin-left: 25%;
}