article {
	float: left;
	width: 60%;
	margin-bottom: 32px;
}

.article_wrap {
	padding-left: 40px;
}

.article_list h1 {
	width: 80%;
	font-size: 30px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #c3c3c3;
}

.article_list {
	padding-top: 20px;
	padding-left: 0px;
}

.article_list a{
	font-size: 25px;
	font-weight: bold;
}

.article_list a:link{
	text-decoration: none solid;
	color: black;
}

.article_list a:visited{
	color: black;
}

.article_list a:hover{
	color: #696969;
}

.article_list p {
	color: #808080;
	font-size: 16px;
	font-style: italic;
	text-indent: 2em;
}